
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 20px;
}

.login-box {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* height: 350px; */
}

form .input{
  /* background-color: green; */
  height: 80px;
  width: auto;
}
form .input input{
  height: 50px;
}

.login-title {
   text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #2b57cf;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #1b55d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0f359c;
}



/* Responsive Design */
@media (max-width: 600px) {
  .login-box {
    padding: 16px;
  }

  .login-title {
    font-size: 25px;
  }

  .login-input,
  .login-button {
    font-size: 14px;
    padding: 10px;
  }
}
.error-text {
  color: red;
  font-size: 14px;
  margin: -12px 0 12px;
}

